body{
	font-family: Roboto,"Helvetica Neue",sans-serif;
}
#themeHeader .navbar-brand{
	color: #000;
	font-size: 24px;
	padding: 1px 6px;
	border: 3px solid #000;
	font-weight: 900;
	letter-spacing: 5px;
}
#themeHeader.navbar-dark .navbar-toggler-icon{
  background-image: url(https://img.icons8.com/android/24/000000/menu.png)!important;
}
#themeHeader .navbar-nav .nav-item a{
	color: #000;
	font-size: 18px;
}
#themeCarousel .carousel-inner .carousel-item img{
	border-radius: 20px;
}
#themeCarousel .carousel-indicators li{
	width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 1
}
#themeCarousel .carousel-indicators li.active{
	background-color: #000;
}
.footer .footerMenuLinks ul li,
.footer  .footerMenuLinks ul li a{
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 5px;
  color: #FFFFFF!important;
  text-decoration: none!important;
}
.footer h2.footerLogoText .imageDiv {
    background: #333338;
    padding: 0 16px;
    display: inline-block;
    margin-bottom: -22px;
}
.footer h2.footerLogoText {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #fff;
    line-height: 0.1em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: 10px 0 42px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
}
.footer .footerMenuLinks ul li.list-inline-item:not(:last-child){
	margin-right: 12px;
}
.footer .footer-bottom {
    background: #333338;
    padding: 10px 0px;
    color: #888;
    border-top: 1px solid #eee;
    position: relative;
}
.footer .copyRight{
	color: #fff;
	font-size: 14px;
}
@media screen and (max-width: 767px){
  .footer .footer-top .list-inline > li {
      padding-right: 5px;
      padding-left: 5px;
      margin-right: 0px!important;
      width: 48%;
      text-align: left;
  }
  .footer .footer-top .list-inline {
    margin-bottom: 2px;
  }
}